IndentWidth: 2
IndentCaseLabels: true
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Always
BinPackArguments: false
ColumnLimit: 140
UseTab: Never
IncludeBlocks: Preserve
SortIncludes: true
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlignOperands: true
AllowShortEnumsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true	
